body {
    font-family: helvetica, arial, sans serif;
}


ul{
    list-style-type: none;
    float: left;
    margin: 0 40px;
    width: 150px;
}

li {
    color: #333;
    display: block;
    margin: 10px 0;
    font-size: 18px;
    border: 1px solid #333;
    background: #ccc;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
}

li:hover {
    opacity: .8;
}

li.selected {
    background: #fff;
}

h2 {
    clear: both;
}

#paths {
    border-right: 1px solid #333;
    padding-right: 30px;
}