%h2 Picaro Documentation

.documentation-page
  %p
    Games are written in a simple, nested language. We're still working on getting version 1 of our <a href="https://github.com/ckolderup/picaro/wiki/Picaro-Format-v1">Game Format</a> finalized, but you should find here a high-level look of what a Picaro game looks like and what can be expressed with it.

  %p
    The Picaro Player is a browser-based interpreter of games in this format. It's written in CoffeeScript, an easy-to-read language that compiles into fast, cross-browser-friendly JavaScript. If you're interested in looking under the hood and seeing everything Picaro is capable of, there is in-line documentation you can read alongside the source code:

  %ul
    %li
      %a{:href=> 'http://picaro.heroku.com/docs/item.html'} Item
    %li
      %a{:href=> 'http://picaro.heroku.com/docs/game_event.html'} Game Event
    %li
      %a{:href=> 'http://picaro.heroku.com/docs/action_guard.html'} Action Guard