%div{:class => "section section-editor"}
  %form{:name => "game", :id => "game", :action => "/editor", :method => "post"}
    %div{:class => "title"}
      %h3 Editor
      %input{:type => "submit", :value => "Save", :class => "btn"}
    %div{:id => 'editor-content'}
      %div{:id => 'code-container', :class => 'yo'}
        %textarea{:id => "code", :name => "game[source]"}= game_yaml

%div{:id => 'game-visuals-container', :class => 'section section-visual'}
  %div{:class => "title"}
    %h3 Game
  %div{:class => 'rooms'}


/ %div{:id => 'editor-content', :class => 'row'}
/   %div{:id => 'code-container', :class => 'span6'}
/     %textarea{:id => "code", :name => "code"}= game_yaml

/   %div{:id => 'game-visuals-container', :class => 'span6'}
/     %div{:class => 'rooms'}
