%h2
  = title
  %a{:href => '/editor/new'}
    %small
      New

%ul{:id => 'games-list'}
  - for game in games
    - if game.published?
      %li{:class=>'game'}
        = haml :_game_summary, locals: {game: game, owned: false}
    - elsif game.author == current_user
      %li{:class=>'game hidden'}
        = haml :_game_summary, locals: {game: game, owned: true}
