%h2{:class => 'games-list'}
  %a{:href => '/games', class: "#{'active' if !my_games}"}
    All Games
  \/
  %a{:href => '/games/mine', class: "#{'active' if my_games}"}
    My Games

%ul{:id => 'games-list'}
  - for game in games
    %li{:class=>'game'}
      = haml :_game_summary, locals: { game: game, published: game.published?, owned: game.author == current_user }
