%h2
  = title
  %a{:href => '/editor/new'}
    %small
      New

- for game in games
  - if game.published?
    .game
      = haml :_game_summary, locals: {game: game}
  - elsif game.author == current_user
    .game.hidden
      = haml :_game_summary, locals: {game: game}
