%html
  %head
    %title Picaro
    / %link{:rel => "stylesheet", :href => "/bootstrap.min.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "/home.css", :type => "text/css"}
  %body
    #header
      = haml :top_nav

    #notices=styled_flash

    #content
      = yield

    %script{ :src => "/js/vendor/require-jquery.js", 'data-main' => "/js/games"}
