pre, code {
  color: white; # reset bootstrap's default #333 code colors, which mess up monokai
}

.section-editor .btn-group {
  float: right;
}

.section-editor .btn-group .btn {
  font-weight: normal;
  font-size: 14px;
  font-family: Palatino, Georgia, Times, sans-serif;
}

#yaml-indicator {
  margin: 1px px 9px 0px;
  float: right;
}

.CodeMirror {
  height: 100%;
  border-radius: 5px;
}

.codemirror-scroll {
  height: 100%;
}

.rooms {
  background: #28222d;
  overflow: scroll;
}

.room {
  -moz-box-shadow: inset 0 0 5px 3px #888;
  -webkit-box-shadow: inset 0 0 5px 3px #888;
  box-shadow: inner inset 0 0 5px 3px #888;
  position: absolute;
  margin: 12px;
  padding: 6px;
  height: 80px;
  width: 80px;
  background: #fff;
}

.room small {
  font-size: 10px;
  display: block;
  color: red;
}

.title {
  padding: 6px 5px 4px 20px;
  background-color: #7B8A9B; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #A9B6C3 0%, #7B8A9B 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A9B6C3), color-stop(100%,#7B8A9B)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #A9B6C3 0%,#7B8A9B 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #A9B6C3 0%,#7B8A9B 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #A9B6C3 0%,#7B8A9B 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A9B6C3', endColorstr='#7B8A9B',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #A9B6C3 0%,#7B8A9B 100%); /* W3C */
  border-bottom: 1px solid rgba(0,0,0,.15);
}

.title h3 {
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
  line-height: 1.3em;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

/* Vertical sections
-------------------------------------------------- */

.section {
  position: absolute;
  width: 50%;
  top: 68px;
  bottom: 0;
  overflow: auto;
}

.section-editor {
  min-height: 400px;
  background-color: #272822;
  left: 0;
  -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.15);
     -moz-box-shadow: 1px 0 0 rgba(0,0,0,.15);
          box-shadow: 1px 0 0 rgba(0,0,0,.15);
}

.section-visual {
  right: 0;
}

.btn.play-game {
  target-new: tab;;
}

.Codemirror-scroll div {
  padding-right: 20px;
}

.item {
  float: left;
  cursor: pointer;
  position: relative;
}

.item div {
  display: none;
  padding: 10px;
  height: 60px;
  width: 60px;
  font-size: 12px;
  border: 1px solid;
  position: absolute;
  right: 10px;
  text-align: center;
  top: -55px;
  background: #F3EFE7;
}
