#code {
  float: right;
}

.rooms {
  background: #000000;
  float:left;
  height: 400px;
  padding: 10px;
  width: 400px;
  position: relative;
}
.room {
  display: inline;
  position: absolute;
  margin: 6px;
  padding: 3px;
  height: 40px;
  width: 40px;
  background: #fff;
}