.CodeMirror {}

.CodeMirror-scroll {
  height: auto; 
}

.hero-unit img {
  float:left;
}

.rooms {
  background: #28222d;
  height: 100%;
  position: relative;
}

.room {
  -moz-box-shadow: inset 0 0 5px 3px #888;
  -webkit-box-shadow: inset 0 0 5px 3px #888;
  box-shadow: inner inset 0 0 5px 3px #888;
  position: absolute;
  margin: 12px;
  padding: 6px;
  height: 80px;
  width: 80px;
  background: #fff;
}

.room.path-east {
}
.room.path-west {
}
.room.path-north {
}
.room.path-south {
}

.room small {
  font-size: 10px;
  display: block;
  color: red;
}
