%div{:class => "title"}
  %span{:class => "btn-group"}
    %input{:type => "submit", :value => "Save", :class => "btn btn-mini btn-inverse save-game"}
    %a{:href => game.play_url, :class => 'btn btn-mini btn-inverse play-game'}
      Play

  %h3{:class => "editor"}
    Editor

%div{:id => 'editor-content'}
  %div{:id => 'code-container'}
    = find_and_preserve do
      %textarea{:id => "code", :name => "game[source]"}
        ~ version.source if version
