%div{:class => "title"}
  %span{:id => 'yaml-indicator', :class => 'badge badge-success', :title => "If this indicator is yellow, something in your game code is not valid YAML."}
    YAML
  %h3
    %span{:class => 'game-name'}

%div{:class => 'rooms'}