%div{:class => "section section-editor"}
  %form{:name => "game", :id => "game", :action => "/editor/#{@version.game.id}", :method => "post"}
    = haml :"editor/_form", locals: {version: version, game: game}
    %input{:type=>"hidden", :name=>"_method", :value=>"put"}

%div{:id => 'game-visuals-container', :class => 'section section-visual'}
  = haml :"editor/_visual"
