%h2
  = title

- for game in games
  .game
    #title
      %a{:href => game.edit_url}
        = game.versions && game.versions.last && game.versions.last.title || "Untitled"
      &nbsp;
      %a{:href => game.play_url}
        Play
    #description
      = game.versions && game.versions.last && game.versions.last.description
