%html
  %head
    %title Picaro Editor
    %link{"rel" => "stylesheet", "href" => "/bootstrap.min.css", "type" => "text/css"}
    %link{:rel => "stylesheet", :href => "/home.css", :type => "text/css"}

    %link{"rel" => "stylesheet", "href" => "/editor.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/codemirror.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/monokai.css", "type" => "text/css"}

    %script{ :src => "/js/vendor/require-jquery.js", 'data-main' => "/js/editor"}

    %script{ :src => '/js/vendor/codemirror.js' }
    %script{ :src => '/js/vendor/codemirror-yaml-mode.js' }
    %script{ :src => '/js/vendor/js-yaml.min.js' }

  %body
    #header
      = haml :top_nav

    %form{:name => "game", :id => "game", :action => "/editor/#{game.id}", :method => "post"}
      %div{:class => "title"}
        %h3{:class => "editor"}
          %span
            Editor&nbsp;/
          %span{:class => 'game-name'}

          %span{:class => "btn-group"}
            %input{:id => 'save-game', :type => "submit", :value => "Save", :class => "btn btn-mini btn-inverse save-game"}
            %a{:href => game.play_url, :class => 'btn btn-mini btn-inverse play-game'}
              Play
          %span{:id => 'yaml-indicator', :class => 'badge badge-success', :title => 'Green means valid YAML! Orange means something <a href="http://yaml.org">might be wrong"</a>'}
            YAML

      %div{:id => 'content', :class => 'container'}
        %div{:class => 'main-content'}
          = yield

    %script{ :src => '/js/vendor/bootstrap-min.js' }
    %script{ :src => '/js/vendor/bootstrap-tooltip.js' }
    %script{ :src => '/js/vendor/bootstrap-popover.js' }

