%html
  %head
    %title Prototype Picaro Editor
    %link{"rel" => "stylesheet", "href" => "/bootstrap.min.css", "type" => "text/css"}
    %link{:rel => "stylesheet", :href => "/home.css", :type => "text/css"}

    %link{"rel" => "stylesheet", "href" => "/editor.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/codemirror.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/monokai.css", "type" => "text/css"}

    %script{ :src => "/js/vendor/require-jquery.js", 'data-main' => "/js/editor"}

    %script{ :src => '/js/vendor/bootstrap-min.js' }
    %script{ :src => '/js/vendor/bootstrap-tooltip.js' }
    %script{ :src => '/js/vendor/bootstrap-popover.js' }

    %script{ :src => '/js/vendor/codemirror.js' }
    %script{ :src => '/js/vendor/codemirror-yaml-mode.js' }
    %script{ :src => '/js/vendor/js-yaml.min.js' }

  %body
    #header
      = haml :top_nav

    #notices
      = styled_flash

    %div{:id => 'content', :class => 'container'}
      %div{:class => 'main-content'}
        = yield
