%div{:class => "section section-editor"}
  %form{:name => "game", :id => "game", :action => "/editor", :method => "post"}
    = haml :"editor/_form", locals: {version: version, game: game}

%div{:id => 'game-visuals-container', :class => 'section section-visual'}
  %div{:class => "title"}
    %span{:id => 'yaml-indicator', :class => 'badge badge-success'}
      Valid
    %h3
      %span{:class => 'game-name'}

  %div{:class => 'rooms'}